/* Contents */

// Home
.home
  &-masthead
    position: relative
    height: 80vh
    &:before
      content: ""
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      background: linear-gradient(0deg, rgba(2, 32, 45, 0.30) 0%, rgba(2, 32, 45, 0.30) 100%)
      z-index: 3
    &-mashteadbg,
      height: 100%
      +imgBg(53% 0 0)
    &-swiper
      height: 100%
      .swiper-slide
        width: 100%
        height: 100%
        +imgBg(53% 0 0)

    &-content
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: 4
      display: flex
      align-items: flex-end
      padding-bottom: rem(64)
      color: $white
      span
        display: block
        margin-bottom: rem(4)
      h1
        margin-bottom: rem(40)
        width: 100%
        max-width: rem(845)

  &-category
    .section-title
      padding-top: rem(48)
      border-top: 1px solid $burgundy
      .row
        align-items: flex-end
        .col-lg-6:last-child
          display: flex
          justify-content: flex-end
    &-wrap
      margin-bottom: rem(-24)
      .col-lg-3
        margin-bottom: rem(24)

      .card-category
        width: 100%
        display: block
        position: relative
        transition: all .3s ease-in-out
        overflow: hidden
        &-img
          transition: all .3s ease-in-out
          &:after
            content: ""
            width: 100%
            height: 100%
            position: absolute
            top: 0
            left: 0
            background: linear-gradient(359deg, rgba(2, 32, 45, 0.50) 0%, rgba(2, 32, 45, 0.00) 100%)
            z-index: 2
            transition: all .3s ease-in-out
          .bg
            transition: all .3s ease-in-out
          +imgBg(83.331% 0 0)

        &-name
          position: absolute
          left: 0
          bottom: 0
          padding: rem(24)
          width: 100%
          display: flex
          justify-content: space-between
          align-items: flex-end
          z-index: 3
          h4
            +font-400
            margin-bottom: 0
            color: $white
          .icon
            width: rem(24)
            height: rem(24)
            // transition: all .3s ease-in-out

        &:hover
          .card-category
            &-img
              &:after
                opacity: .75
              .bg
                transform: scale(1.2)
            &-name
              .icon
                background: url(../images/ic-arrow-circle-white-filled.svg)
                background-size: rem(20)
                background-position: center
                background-repeat: no-repeat
                path
                  fill: transparent

  &-aboutus
    position: relative
    &-bg
      +imgBg(100% 0 0)
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      &:after
        content: ""
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        background: linear-gradient(82deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.00) 51.93%)
    &-content
      // position: absolute
      // top: 0
      // left: 0
      // width: 100%
      // height: 100%
      z-index: 3
      position: relative
      padding: rem(64) 0
      min-height: rem(640)
      display: flex
      .container
        flex: 1
        display: flex
        flex-direction: column
      .section-title
        h2
          color: $white

        .subdesc
          color: $white
          opacity: .75
      .btn-arrow
        max-width: max-content
        color: $white
        border-bottom: 1px solid $white
        margin-top: auto
        &:after
          background: url(../images/ic-arrow-right-long.svg)
          background-repeat: no-repeat
          background-size: contain
          background-position: center
        &:hover
          border-color: $white

  &-solution
    background: #9CC9CE
    .solution-wrap
      margin-bottom: rem(-40)
    .card-solution
      border-top: 1px solid rgba(31, 31, 31, 0.25)
      padding-top: rem(24)
      margin-bottom: rem(40)
      b
        color: $dark
        padding-right: 4px
        .svg
          width: rem(24)
          height: rem(24)
          display: inline-flex
          margin-right: rem(8)

  &-client
    .client
      &-wrap
        .col-lg-3
          border-right: 1px solid rgba(27, 21, 54, 0.1)
          border-top: 1px solid rgba(27, 21, 54, 0.1)
          &:nth-child(4n)
            border-right: 0
          &:nth-child(-n+4)
            border-top: 0
    .client-logo
      padding: rem(40)
      img
        width: auto
        height: rem(64)
        margin: 0 auto
        object-fit: contain
        object-position: center

  &-someproduct
    background: #F7FCFC
    .prevnext
      display: flex
      gap: rem(16)
      justify-content: flex-end
      align-items: flex-end
      height: 100%
      .prdSwiper-next,
      .prdSwiper-prev
        width: rem(48)
        height: rem(48)
        border: 1px solid $primary
        background-color: $white
        background-image: url(../images/ic-arrow-right-long-blue.svg)
        background-position: center
        background-repeat: no-repeat
        background-size: rem(24)
        display: block
        border-radius: 100px
        &.swiper-button-disabled
          opacity: .5
        &:hover
          cursor: pointer
      .prdSwiper-prev
        transform: rotate(-180deg)

    .section-title
      padding-top: rem(48)
      border-top: 1px solid $primary
    .more
      text-align: center
      margin-top: rem(48)

  +maxtablet()
    &-masthead
      &-swiper
        .swiper
          &-slide
            &:before
              padding: 115% 0 0
    &-category
      .section-title
        .row
          .col-lg-6
            &:first-child
              margin-bottom: 24px
            &:last-child
              justify-content: flex-start

      &-wrap
        .card-category-img:before
          padding: 71.425% 0 0
    &-aboutus
      padding: rem(48) 0
      &-content
        min-height: rem(436.03)
        padding: 0
      &-bg
        &:after
          background: #000
          opacity: .5
    &-someproduct
      .product-card
        max-width: 100%
    &-client
      .client
        &-wrap
          .col-lg-3
            &:nth-child(4n)
              border-right: 1px solid rgba(27, 21, 54, 0.1)
            &:nth-child(2n)
              border-right: 0
            &:nth-child(-n+4)
              border-top: 1px solid rgba(27, 21, 54, 0.1)
            &:nth-child(-n+2)
              border-top: 0

  +mobile
    &-masthead
      max-height: 600px
      &-content
        padding-bottom: 24px
        .container
        .swiper-pagination
          margin-top: 56px
      &-swiper
        .swiper-slide:before
          padding: 191% 0 0
    &-client
      .client
        &-wrap
          .col-lg-3
            flex: 0 0 50%
            max-width: 50%
          .client-logo
            padding: 16px
    &-category
      .section-title
        padding-top: 32px
      &-wrap
        .col-md-6
          flex: 0 0 50%
          max-width: 50%
          padding-left: 6px
          padding-right: 6px
          margin-bottom: 12px
        .card-category
          &-img:before
            padding: 128.2% 0 0
          &-name
            padding: 12px
            display: block
            h4
              margin-bottom: 8px
    &-aboutus
      padding: 48px 0
    &-someproduct
      .section-title
        .col-md-8
          margin-bottom: 24px
      .prevnext
        justify-content: flex-start
      .row
        margin-left: -8px
        margin-right: -8px
        .col-lg-3
          padding-left: 8px
          padding-right: 8px
          margin-bottom: 16px !important

// Produk
.produk
  padding-top: rem(98)
  &-masthead
    position: relative
    &:before
      content: ""
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      background: linear-gradient(0deg, rgba(2, 32, 45, 0.30) 0%, rgba(2, 32, 45, 0.30) 100%)
      z-index: 3
    &-bg
      height: 100%
      +imgBg(33.4% 0 0)
    &-content
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: 4
      display: flex
      align-items: center
      h1
        color: $white
        margin-bottom: 0
        +font-500
        max-width: rem(846)
        margin: 0 auto
        text-align: center
  &-kategori
    position: absolute
    bottom: rem(28)
    left: 0
    width: 100%
    &-wrap
      width: 100%
      display: flex
      align-items: center
      gap: 8px
      position: relative
      .kategori-item
        padding: rem(6) rem(12)
        +font-500
        background: rgba(255, 255, 255, 0.25)
        border: 1px solid $muted
        z-index: 3
        border-radius: 50px
        color: $white
        position: relative
        transition: all .3s ease-in-out
        width: auto
        max-width: max-content
        &.active
          padding-left: rem(26)
          background: $white
          border-color: $white
          color: $primary
          &:before
            content: ""
            width: 6px
            height: 6px
            border-radius: 50px
            position: absolute
            top: rem(16)
            left: rem(12)
            background: $primary
        &:hover
          text-decoration: none
          background: $white
          border-color: $white
          color: $primary
    &-bg
      +imgBg(53% 0 0)

    .box-swiper
      width: 100%
      overflow: hidden
    .swiper-button-prev,
    .swiper-button-next
      width: rem(28)
      height: rem(28)
      background: $white
      border-radius: 50px
      border: 1px solid $primary
      display: flex
      align-items: center
      justify-content: center
      text-align: center
      top: rem(26)
      &::after
        width: rem(12)
        height: rem(12)
        font-size: 12px
        line-height: 12px
      &.swiper-button-disabled
        display: none
    .swiper-button-prev
      left: rem(-4)
    .swiper-button-next
      right: rem(-4)
  &-list
    background: #F7FCFC
    &-filter
      margin-bottom: rem(40)
      b
        +font-600
        color: $dark
      .filter
        display: flex
        align-items: center
        justify-content: flex-end
        gap: 8px
        span
          flex: 0 0 rem(158)
          max-width: rem(158)
        .select
          flex: 0 0 rem(240)
          max-width: rem(240)
          button.btn,
          button
            padding: rem(6) rem(16)
            border: 1px solid $light
            border-radius: 50px
            background: $white
            color: $dark
        .bootstrap-select
          .dropdown-menu.show
            min-width: auto
            width: 100%
            max-width: rem(240)
        &.filter-mobile
          display: none
  &-wrap
    margin-bottom: rem(-24)
    .col-lg-3
      margin-bottom: rem(24)

  +maxtablet
    &-masthead
      height: rem(400)
  +mobile
    &-kategori-wrap
      opacity: 0
      visibility: hidden
    &-list
      &-filter
        .col-lg-3
          display: none
        .filter
          display: block
          & > span
            display: block
            margin-bottom: 8px
          .select
            max-width: 100%
            button
              padding: 12px !important
            .dropdown-menu.show
              max-width: 100%
          &.filter-mobile
            display: block
            margin-bottom: 12px
    &-wrap
      & > .row
        margin-left: -8px
        margin-right: -8px
      .col-md-6
        flex: 0 0 50%
        max-width: 50%
        padding-left: 8px
        padding-right: 8px
        margin-bottom: 16px
      .product-card
        height: 100%
        background: #FFF


.produk-detail
  &-top

  &-photo
    position: relative
    .photo-thumbnail
      overflow: hidden
      position: absolute
      left: rem(24)
      top: calc(50% - #{rem(138)})
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      z-index: 3
      &.no-slider
        .box-swiper
          .swiper-wrapper
            justify-content: center
      .box-swiper
        position: relative
        height: 228px
        overflow: hidden
      .swiper-wrapper
      .swiper-slide
        width: rem(48)
        height: rem(48)
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.10)
        border: 1px solid rgba(78, 94, 101, 0.3)
        img
          display: block
          width: 100%
          height: 100%
          object-fit: cover
          object-position: center
        &.selected
          border-color: $primary
        &:hover
          cursor: pointer
      .prev-sliderV,
      .next-sliderV
        width: rem(24)
        height: rem(24)
        position: relative
        z-index: 4
        .svg,
        img
          width: rem(24)
          height: rem(24)
        &.swiper-button-disabled
          opacity: .3
        &:hover
          cursor: pointer
      .prev-sliderV
        transform: rotate(-180deg)
    .box-img
      +imgBg(100% 0 0)
  &-info
    padding-left: rem(56)
    .tag
      margin-bottom: rem(24)
    h1
      color: $dark
      font-size: rem(28)
      line-height: 120%
      margin-bottom: rem(24)
    hr
      margin: rem(24) 0
      background: transparent
      border-top: 1px dashed $light
    .moq-list
      margin-bottom: rem(24)
      .moq-item
        padding: rem(12) rem(16)
        border: 1px solid $light
        display: flex
        align-items: center
        gap: 8px
        &:not(:last-of-type)
          margin-bottom: rem(12)
        small
          span
            color: $primary
        .price
          color: $primary
          font-size: rem(24)
          line-height: 150%
          +font-500
          &.red
            color: $burgundy
          .regular-price
            font-size: rem(16)
            line-height: 150%
            color: $slate
            padding: 0 8px
            letter-spacing: -0.32px
            text-decoration: line-through
          .discount
            padding: 0 5px
            font-size: rem(12)
            line-height: rem(20)
            color: $white
            background: #FF5C5C
            border-radius: 6px
            display: inline-block
            vertical-align: middle
    .moq-notes
      font-size: rem(12)
      line-height: 150%
      letter-spacing: -.24px
      display: block
      color: $muted
      padding: rem(16) 0 rem(24)
      border-bottom: 1px dashed $light
    .despro-right
      & > b
        display: block
        margin-bottom: rem(16)
      article
        margin-bottom: rem(24)
        // // max-height: 3em
        // overflow: hidden
        // max-height: 3em
        // overflow: hidden
  &-desc
    position: relative
    border-top: 1px solid $light
    &:after
      content: ""
      width: 50%
      height: 100%
      background: linear-gradient(180deg, #F7FCFC 0%, rgba(247, 252, 252, 0.00) 100%)
      position: absolute
      top: 0
      right: 0
    .container
      position: relative
      z-index: 5
    .row
      .col-lg-6:last-child
        display: flex
        justify-content: flex-end
    .desc-left
      max-width: rem(560)
      article
        margin-bottom: rem(40)
      h3
        +font-600
        color: $dark
        font-size: rem(20)
        line-height: 120%
        margin-bottom: rem(16)
      .ecommerce
        &-list
          max-width: rem(456)
        &-item
          padding: rem(23.1) rem(32)
          background: $white
          border: 1px solid $light
          display: flex
          position: relative
          transition: all .3s ease-in-out
          img
            width: auto
            height: rem(32)
            object-fit: contain
          &:after
            content: ""
            width: rem(20)
            height: rem(20)
            background: url(../images/ic-arrow-right-long-light.svg)
            background-repeat: no-repeat
            background-size: contain
            background-position: center
            position: absolute
            top: calc(50% - #{rem(10)})
            right: rem(20)
          &:not(:last-child)
            margin-bottom: rem(12)
          &:hover
            border-color: $primary
            background: $white
            box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.10)
            &:after
              background: url(../images/ic-arrow-right-long-blue.svg)
              background-repeat: no-repeat
              background-size: contain
              background-position: center

    .desc-right
      // padding-left: rem(80)
      width: 100%
      max-width: rem(560)
      h3
        +font-600
        color: $dark
        font-size: rem(20)
        line-height: 120%
        margin-bottom: rem(16)
      .or
        display: none
        text-align: center
        margin: rem(24) 0
      .quotation-form
        padding: rem(24)
        background: $white
        border: 1px solid $primary

  +mobile
    &-top
      padding-top: 0 !important
    &-photo
      margin-left: -12px
      margin-right: -12px
      .photo-thumbnail
        width: calc(100%)
        max-width: 100%
        margin-left: -20px
        margin-right: -20px
        flex-direction: row
        top: calc(50% - 12px)
        .box-swiper
          height: 0
          opacity: 0
          visibility: hidden
        .prev-sliderV,
        .next-sliderV
          width: 24px
          flex: 0 0 24px
          height: 24px
        .prev-sliderV
          transform: rotate(90deg)
        .next-sliderV
          transform: rotate(-90deg)
    &-info
      padding: 48px 0
      padding-left: 0

    &-desc
      background: linear-gradient(180deg, #F7FCFC 0%, rgba(247, 252, 252, 0.00) 100%)
      &:after
        display: none
      &-left
      .desc-left
        .ecommerce-item
          padding: 12px 24px
          img
            max-height: 24px
      .desc-right
        .or
          display: block

    .someproduct-wrap
      .row
        .col-lg-3
          margin-bottom: 24px
          flex: 0 0 50%
          max-width: 50%
          .product-card-price
            flex-wrap: wrap

// About
.about
  &-masthead
    position: relative
    height: 80vh
    &:before
      content: ""
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      background: linear-gradient(0deg, rgba(2, 32, 45, 0.30) 0%, rgba(2, 32, 45, 0.30) 100%)
      z-index: 3
    &-bg
      height: 100%
      +imgBg(53% 0 0)
  &-aboutus
    .desc
      padding-top: rem(40)
  &-visimisi
    background: rgb(9,104,144)
    background: linear-gradient(90deg, rgba(9,104,144,1) 49%, rgba(7,82,114,1) 49%)
    .box-visi,
    .box-misi
      padding: rem(80) 0
      color: $white
      h2
        margin-bottom: rem(24)
        +font-500
    .box-visi
      padding-right: rem(80)
    .box-misi
      padding-left: rem(60)
  &-pilarnilai
    .pilarnilai-wrap
      margin-bottom: rem(-40)
    .card-nilai
      padding-top: rem(24)
      border-top: 1px solid rgba(31, 31, 31, 0.25)
      margin-bottom: rem(40)
      b
        color: $dark
        padding-right: 4px
        .svg
          margin-right: rem(8)

  +maxtablet
    &-aboutus
    &-visimisi
      background: #FFF
      & > .container
        padding-left: 0
        padding-right: 0
      .col-lg-6:not(:last-child)
      .box-visi,
      .box-misi
        padding: 64px 48px
      .box-visi
        background: #075272
      .box-misi
        background: #096890
      // background: linear-gradient(180deg, #096890 49%, #075272 49%)
      // .box-misi
      //   padding-left: 0


  +mobile
    &-masthead
      max-height: 400px
    &-aboutus
      .desc
        padding-top: 0
    &-visimisi
      background: #FFF
      & > .container
        padding-left: 0
        padding-right: 0
      .col-lg-6:not(:last-child)
      .box-visi,
      .box-misi
        padding: 48px 24px
      .box-visi
        background: #075272
      .box-misi
        background: #096890

// Kontak
.kontak
  padding-top: rem(88)
  .kontak-form
    h4
      color: $dark
      +font-600
    .form-action
      display: flex
      justify-content: flex-end
  &-box
    .kontak-item
      padding-bottom: rem(24)
      border-bottom: 1px solid $light
      &:not(:last-child)
        margin-bottom: rem(24)
        // border-bottom: 1px solid $light
      b
        display: block
        +font-600
        color: $dark
        margin-bottom: rem(8)
      .w-icon
        display: flex
        align-items: center
        gap: 8px
        .svg
          flex: 0 0 rem(24)
          width: rem(24)
          height: rem(24)
        a
          color: $slate
          &:hover
            color: $primary
      .socmeds
        display: flex
        gap: rem(16)
        a
          transition: all .3s ease-in-out
          &:hover
            transform: translateY(-4px)

  &-map
    position: relative
    width: 100%
    padding: 15.625% 0
    iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

  &-faq
    .section-title
      margin-bottom: rem(48)
      h2
        margin-bottom: 0
  +mobile
    &-map
      padding: 200px 0 0


// Galeri
//   display: block
.galeri
  margin-top: rem(88)

.modal-galeri
  .modal-content
    background: transparent
    border: 0
    position: relative
    .close
      position: fixed
      top: rem(80)
      right: rem(80)
      width: rem(48)
      height: rem(48)
      background: rgba(255, 255, 255, 0.15)
      display: flex
      align-items: center
      justify-content: center
      border-radius: 100px
    .slider
      overflow: hidden
    .box-img
      width: 100%
      +imgBg(68.2% 0 0)
    .description
      color: $white
      padding-left: rem(40)
      h2
        margin-bottom: rem(24)

.grid-masonry
  &:after
    content: ''
    display: block
    clear: both
  .grid-sizer,
  .grid-item
    width: 30.178% //31.826%//rem(338)
  .grid-item
    float: left
    margin-bottom: rem(24)
    position: relative
    &:before
      content: ""
      width: 100%
      padding-top: 208.2875% //197.6% //48.3%
      display: block
    img
      display: block
      width: 100%
      height: 100%
      object-fit: cover
      position: absolute
      top: 0
      left: 0
    &.dw
      width: 62.5% //65.913% //rem(700)
      &:before
        content: ""
        width: 100%
        padding-top: 51.43% //50%
        display: block
    &.sq
      &:before
        padding-top: 106.51% //94.676% //100%
    &:after
      content: ""
      width: 100%
      height: 100%
      background: linear-gradient(0deg, rgba(2, 32, 45, 0.30) 0%, rgba(2, 32, 45, 0.30) 100%)
      position: absolute
      top: 0
      left: 0
      opacity: 0
      visibility: hidden
      transition: all .2s ease-in-out
    .content
      width: 100%
      padding: rem(24)
      color: $white
      position: absolute
      left: 0
      bottom: 0
      z-index: 3
      transition: all .3s ease-in-out
      transform: translateY(10px)
      opacity: 0
      visibility: hidden
      h3
        font-size: rem(24)
        margin-bottom: rem(8)
    &:hover
      cursor: pointer
      &:after
        opacity: 1
        visibility: visible
      .content
        opacity: 1
        visibility: visible
        transform: translateX(0)
  +maxtablet
    .grid-sizer,
    .grid-item
      width: calc((100% / 3) - 24px)
      margin-bottom: 16px
      &:after
        opacity: 1
        visibility: visible
      .content
        opacity: 1
        visibility: visible
        // color: $dark
        padding: 16px
        transform: translateX(0)
        h3
          margin-bottom: 0
          width: 100%
          // overflow: hidden
          // text-overflow: ellipsis
        p
          display: none

    .grid-item.dw
      width: calc(((100% / 3) - 18px) * 2)
  +mobile
    .grid-sizer,
    .grid-item
      width: calc((100% / 2) - 12px)
      height: 200px
      .content
        h3
          font-size: 18px !important
    .grid-item.dw
      width: calc((100% / 2) - 12px)

// Auth
.auth
  &-page
    display: flex
    flex-wrap: wrap
    height: 100vh
    &-form
      height: 100%
      flex: 0 0 calc(100% - 59.72%)
      max-width: calc(100% - 59.72%)
      display: flex
      flex-direction: column
      padding: rem(40) rem(88)
      padding-left: rem(58)
      padding-top: 0
      align-items: flex-start
      justify-content: space-between
      position: relative
      .back
        margin-top: rem(40)
        width: 100%
        text-align: left
        padding-left: rem(58)
        .btn-arrow
          &:hover
            &:before
              transform: translateX(-8px) rotate(-180deg)
      .logo
        display: inline-flex
        margin-bottom: rem(24)
        img
          width: auto
          height: rem(48)
      .h2
        color: $dark
        margin-bottom: rem(24)
      .auth-form
        max-width: rem(411)
        padding-left: rem(58)
      //   .box
      //     max-width: rem(411)
      .footer-desktop
        color: $slate
        font-size: 14px
        text-align: left
        width: 100%
        padding-left: rem(58)
        opacity: .5

    &-bg
      height: 100%
      flex: 0 0 59.72%
      max-width: 59.72%
      position: relative
      .auth-slider
        height: 100%
        width: 100%
        .swiper-slide
          display: flex
          align-items: flex-end
          height: 100vh
          padding: 0 0 rem(40) rem(80)
          position: relative
          background-size: cover
          background-position: center bottom
          &:before
            content: ""
            width: 100%
            height: 100%
            position: absolute
            top: 0
            left: 0
            background: linear-gradient(0deg, rgba(2, 32, 45, 0.30) 0%, rgba(2, 32, 45, 0.30) 100%)
          .content
            color: $white
            max-width: rem(508)
            position: relative
            z-index: 3
    .swiper
      width: 100%
    .swiper-pagination
      position: absolute
      padding-right: rem(80)
      right: 0
      bottom: rem(40)
  +maxtablet
    &-page
      &-form,
      &-bg
        max-width: 50%
        flex: 0 0 50%
      &-form
        .back,
        .auth-form,
        .footer-desktop
          padding-left: 0
      &-bg
        .auth-slider
          .swiper-slide
            padding-left: rem(40)
            padding-bottom: rem(80)
  +mobile
    &-page
      &-form
        max-width: 100%
        flex: 0 0 100%
        padding: 0 20px
        padding-bottom: rem(32)
      &-bg
        display: none

// Customerpage
.customerpage
  &-masthead
    position: relative
    &:before
      content: ""
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      background: linear-gradient(0deg, rgba(2, 32, 45, 0.30) 0%, rgba(2, 32, 45, 0.30) 100%)
      z-index: 3
    &-bg
      height: 100%
      +imgBg(33.4% 0 0)
    &-content
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: 4
      display: flex
      align-items: center
      .greeting
        font-size: rem(20)
        line-height: 150%
        color: $white
        text-align: center
        margin-bottom: rem(8)
        span
          opacity: .5
      h1
        color: $white
        margin-bottom: 0
        +font-500
        max-width: rem(846)
        margin: 0 auto
        text-align: center
  &-proyek
    .section-title
      margin-bottom: rem(24)
      text-align: center
      h1
        margin-bottom: 0
    .label-mobile
      display: none
      font-size: 12px
      line-height: 150%
      color: $muted
      letter-spacing: .24px
      margin-bottom: 8px
    .proyek
      &-status
        display: flex
        align-items: center
        justify-content: center
        gap: rem(8)
        margin-bottom: rem(48)
        .status-tab
          padding: rem(8) rem(24)
          border: 1px solid #CFD1D1
          background: $white
          display: inline-flex
          border-radius: 50px
          .icon
            width: rem(20)
            height: rem(20)
            margin-right: rem(8)
          &:hover,
          &.active
            text-decoration: none
            background: $primary
            border-color: $primary
            color: $white
            .svg
              path
                fill: $white
      &-list-wrap
        padding: rem(48)
        background: #F7FCFC
      &-filter
        display: flex
        align-items: center
        font-size: rem(14)
        line-height: 150%
        margin-bottom: rem(24)
        .left,
        .right
          width: 50%
          flex: 0 0 50%
        .right
          .year
            display: flex
            align-items: center
            justify-content: flex-end
            align-items: center
            gap: 8px
          .select
            flex: 0 0 rem(120)
            max-width: rem(120)
            button.btn
              padding: rem(6) rem(16)
              border: 1px solid $light
              border-radius: 50px
              background: $white
              color: $dark
          .bootstrap-select
            .dropdown-menu.show
              min-width: auto
              width: 100%
              max-width: rem(240)
      &-item
        background: #FFFFFF
        border: 1px solid $light //$muted
        margin-bottom: rem(24)
        transition: all .3s ease-in-out
        .top
          padding: rem(24)
        .meta
          display: flex
          align-items: center
          width: 100%
          justify-content: space-between
          margin-bottom: rem(16)
          &-left
            flex: 0 0 60%
            max-width: 60%
            display: flex
            align-items: center
            .date
              color: $slate
              padding-left: rem(20)
              position: relative
              &:before
                content: ""
                width: 4px
                height: 4px
                background: $light
                position: absolute
                top: 9px
                left: 8px
                border-radius: 50px
          &-right
            flex: 0 0 40%
            max-width: 40%
            display: flex
            align-items: center
            gap: 8px
            justify-content: flex-end
          .status
            .tag
              margin-bottom: 0
          .history
            position: relative
            &:hover
              img
                transform: rotate(-180deg)
              .history-dd
                opacity: 1
                visibility: visible
          .history-dd
            position: absolute
            top: rem(30)
            right: 0
            min-width: rem(270)
            padding: rem(24)
            background: $white
            border: 1px solid $smoke
            box-shadow: 0px 10px 24px 0px rgba(25, 32, 34, 0.15)
            max-width: rem(289)
            visibility: hidden
            opacity: 0
            transition: all .3s ease-in-out
            z-index: 3
            h5
              font-size: rem(20)
              line-height: 150%
              margin-bottom: rem(24)
              color: $dark
            .history-list
              li
                display: flex
                align-items: center
                &:not(:last-child)
                  margin-bottom: rem(24)
                .date
                  width: rem(92)
                  font-size: 12px
                  position: relative
                  &:before
                    content: ""
                    width: 16px
                    height: 16px
                    background: #F1F3F3
                    border-radius: 50px
                    position: absolute
                    top: 0
                    right: 3px
                    z-index: 2
                  &:after
                    content: ""
                    width: 8px
                    height: 8px
                    border-radius: 50px
                    background: $smoke
                    border-radius: 50px
                    position: absolute
                    top: 4px
                    right: 7px
                    z-index: 2
                .title
                  padding-left: rem(8)
                  position: relative
                  span
                    display: block
                    color: $dark
                  a
                    font-size: 14px

                  &:after
                    content: ""
                    width: 1px
                    height: calc(100% + #{rem(16)})
                    position: absolute
                    top: rem(-16)
                    left: rem(-12)
                    border-right: 1px dashed $smoke
                &:first-child
                  .title
                    &:after
                      top: 0
                &:last-child
                  .title
                    &:after
                      top: rem(-32)
                      height: 100%
                &.current
                  .date
                    &:before
                      background: #FDF2E8
                    &:after
                      background: #B86314
                &.ondelivery
                  .date
                    &:before
                      background: lighten($primary, 70%)
                    &:after
                      background: $primary
                &.invoicing
                  .date
                    &:before
                      background: lighten(#B86314, 70%)
                    &:after
                      background: #B86314
                &.done
                  .date
                    &:before
                      background: lighten(#17B814, 50%)
                    &:after
                      background: #17B814

                &:first-child:last-child
                  .date
                    &:before
                      top: 4px
                    &:after
                      top: 8px
                  .title
                    &:after
                      display: none !important

        .product
          display: flex
          align-items: center
          .left
            flex: 0 0 60%
            max-width: 60%
            display: flex
            align-items: center
            gap: rem(24)
            h3
              font-size: rem(24)
              line-height: 150%
              margin-bottom: 0
              a
                color: $dark
                &:hover
                  text-decoration: none
                  color: $primary
            .qty
              color: $muted
              b
                color: $dark

          .right
            flex: 0 0 40%
            max-width: 40%
            display: flex
            justify-content: flex-end
            .price-total
              color: $primary
              text-align: right
              small
                font-size: 14px
                line-height: 150%
              b
                display: block
                color: $primary
                font-size: rem(24)

        .mid
          // padding: rem(24)
          padding-left: rem(24)
          padding-right: rem(24)
          background: #FAFAFA
          border-top: 1px solid #EDF0F2
          border-bottom: 1px solid #EDF0F2
          max-height: 0
          overflow: hidden
          transition: all .3s ease-in-out
          h4
            color: $dark
            +font-600
            margin-bottom: 6px

          table
            width: 100%
            th
              padding: rem(12)
              background: $primary
              color: $white
              +font-400
            td
              padding: rem(12)
              font-size: rem(14)
              line-height: 150%
              border-bottom: 1px solid #D5DBE1
              .box-prdct
                display: flex
                align-items: center
                gap: rem(16)
                .photo
                  width: rem(48)
                  height: rem(48)
                  img
                    width: 100%
                    height: 100%
                    object-fit: contain
                .name
                  color: $dark

          .btn-wrap
            margin-top: rem(24)
            .btn + .btn
              margin-left: rem(16)

        .bottom
          padding: rem(24)
          background: $white
          display: flex
          align-items: center
          justify-content: space-between
          .last-update
            color: $slate
          .excol
            &:hover
              cursor: pointer
        &.expand
          border-color: $muted
          .mid
            max-height: max-content
            padding: rem(24)
  +maxtablet
    margin-top: 84px
    &-masthead
      &-bg
        &:before
          padding: 111.112% 0 0
  +mobile
    &-proyek
      .section-title
        h2
          font-size: 28px
          text-align: left
      .proyek
        &-status
          display: none
          & + .bootstrap-select
            z-index: 30
            margin-bottom: 12px
            .btn.dropdown-toggle
              background: #FFF
              border-radius: 50px
              color: $primary
              border: 1px solid rgba(229, 229, 229, 1)
              padding: 12px
              +font-500
            .dropdown-menu:not(.inner).show
              z-index: 30
            .dropdown-menu.show
              min-width: auto
              width: 100%
              max-width: 100%
        &-filter
          flex-direction: column
          margin-bottom: 24px
          .left,
          .right
            width: 100%
            flex: 0 0 100%
            max-width: 100%
          .left
            order: 2
          .right
            order: 1
            margin-bottom: 48px
          .right
            .year
              display: block
              span
                display: block
                width: 100%
                margin-bottom: 8px
                color: $muted
              .bootstrap-select
                z-index: 10
                .btn.dropdown-toggle
                  background: #FFF
                  border-radius: 50px
                  color: $primary
                  border: 1px solid rgba(229, 229, 229, 1)
                  padding: 12px
                  +font-500
                .dropdown-menu:not(.inner).show
                  z-index: 10
                .dropdown-menu.show
                  min-width: auto
                  width: 100%
                  max-width: 100%
            .select
              max-width: 100%

        &-list-wrap
          background: #FFF
          padding: 0
        &-item
          .meta
            &-left
              display: block
              flex: 0 0 142px
              max-width: 142px
              .invc
                width: 100%
                text-overflow: ellipsis
                display: block
                overflow: hidden
              .date
                padding-left: 0
                &:before
                  display: none
            &-right
              flex: 0 0 calc(100% - 142px)
              max-width: calc(100% - 142px)
              .tag
                font-size: 12px
                line-height: 150%
          .product
            flex-wrap: wrap
            gap: 8px
            .left
              flex: 0 0 100%
              max-width: 100%
              align-items: flex-start
              margin-bottom: 24px
              h3
                font-size: 18px !important
                line-height: 120%
            .product-photo
              width: 48px
              height: 48px
              img
                width: 100%
                height: 100%
            .right
              flex: 0 0 100%
              max-width: 100%
              justify-content: flex-start
              .price-total b
                display: inline
                font-size: 18px
                line-height: 120%
                padding-left: 4px
        &-item
          &.expand
            .mid
              padding: 16px
          .table
            width: 100%
            max-height: 224px
            overflow: auto
            position: relative
            table
              thead
                width: 100%
                position: sticky
                top: 0
              th
                min-width: 120px
                text-align: left
                &:first-child
                  min-width: 160px
                  position: sticky
                  left: 0
                &:last-child
                  min-width: 50px
                &.text-right
                  text-align: left !important
              tr:first-child
                // td
                //   padding-top: 56px
              td
                min-width: 120px
                text-align: left
                &:first-child
                  min-width: 160px
                  background: #fafafa
                  position: sticky
                  left: 0
                &:last-child
                  min-width: 50px
                .box-prdct
                  .photo
                    flex: 0 0 32px
                    max-width: 32px
                    height: 32px
                  .name
                    max-height: 3em
                    overflow: hidden
                &.text-right
                  text-align: left !important

          .top,
          .bottom
            padding: 16px
          .mid

            .btn-wrap
              .btn
                width: 100%
                & + .btn
                  margin-left: 0
                  margin-top: 8px
          .bottom
            flex-direction: column
            .right
              display: flex
              justify-content: space-between
              align-items: center
              width: 100%
              margin-bottom: 24px
            .left
              order: 2
            .right
              order: 1
            .btn-border
              flex: 0 0 132px
              max-width: 132px
              font-size: 0
              line-height: 0
              &:before
                content: "Follow-up"
                font-size: 14px
                line-height: 150%
    .label-mobile
      display: block
// Search Results
.searchresults
  padding-top: rem(176)
  padding-bottom: rem(88)
  background: #F7FCFC
