extends templates/layout.pug

block vars
  - var activepage = "produk";
  - var headerType = "";
  -
    var product = [
        {
          name: "Baut Mur Putih Full Drat Pack Kecil",
          price: "2.700",
          discount: "10",
          discountedprice: "3.000",
          img: "home-product-thumbnail-1.jpg",
          moq: "",
        },
        {
          name: "NTN Deep Groove Ball Bearing 6000 Series (Laher)",
          price: "19.000",
          discount: "",
          discountedprice: "",
          img: "home-product-thumbnail-2.jpg",
          moq: "100",
        },
        {
          name: "Baut Mur Putih Full Drat Pack Kecil",
          price: "2.700",
          discount: "10",
          discountedprice: "3.000",
          img: "home-product-thumbnail-3.jpg",
          moq: "",
        },
        {
          name: "Baut Mur Putih Full Drat Pack Kecil",
          price: "2.700",
          discount: "10",
          discountedprice: "3.000",
          img: "home-product-thumbnail-4.jpg",
          moq: "",
        },
      ]


  include templates/dbcontent.pug


block content
  .produk.produk-detail
    .container
      section.section.xl.produk-detail-top
        .row
          .col-md-6
            .produk-detail-photo
              .box-img
                img.bg(src="images/img-produk-detail.jpg", alt="img")
              .photo-thumbnail
                .prev-sliderV
                  img(src="images/ic-carret-down-blue.svg", alt="icon")
                .box-swiper
                  .swiper-wrapper
                    .swiper-slide
                      img(src="images/home-product-thumbnail-1.jpg", alt="img")
                    .swiper-slide.selected
                      img(src="images/home-product-thumbnail-2.jpg", alt="img")
                    .swiper-slide
                      img(src="images/home-product-thumbnail-3.jpg", alt="img")
                    //- .swiper-slide
                    //-   img(src="images/home-product-thumbnail-1.jpg", alt="img")
                    //- .swiper-slide
                    //-   img(src="images/home-product-thumbnail-1.jpg", alt="img")
                .next-sliderV
                  img(src="images/ic-carret-down-blue.svg", alt="icon")
          .col-md-6
            .produk-detail-info
              .tag Part Mekanis
              h1 NTN Deep Groove Ball Bearing 6000 Series (Laher)
              //- .desc NTN Deep Groove Ball Bearing 6000 Series (Laher) merupakan solusi sempurna untuk kebutuhan bearing dalam berbagai aplikasi industri. Dibuat oleh merek terkemuka NTN, bearing seri 6000 ini menawarkan performa optimal, keandalan yang tinggi, dan daya tahan yang luar biasa.
              //- hr
              .moq-list
                .moq-item
                  small MOQ &nbsp;
                    span 100pcs
                  .price
                    span.discounted Rp3.000
                    span.regular-price Rp2.700
                    span.discount -11%
                .moq-item
                  small MOQ &nbsp;
                    span 500pcs
                  .price Rp 63.000
                .moq-item
                  small MOQ &nbsp;
                    span 1000pcs
                  .price.red Hubungi Kami
                small.moq-notes *Harga tertera adalah harga satuan pcs

              .despro-right
                b.desc-title Deskripsi
                article
                  h4 Test Heading
                  p NTN Deep Groove Ball Bearing 6000 Series (Laher) merupakan solusi sempurna untuk kebutuhan bearing dalam berbagai aplikasi industri. Dibuat oleh merek terkemuka NTN, bearing seri 6000 ini menawarkan performa optimal, keandalan yang tinggi, dan daya tahan yang luar biasa.
                  ul
                    li Test list
                    li Test list
                    li Test list
                  ol
                    li Test list
                    li Test list
                    li Test list
                    li Test list
                  //- #content
                  span.read-more(id="despro-readmore") Read more
                a.btn-arrow(href="#") Download detail spesifikasi

              //- a.btn.btn-primary.btn-block.btn-smooth(href="#pd-section") Pesan produk ini

    section.section.xl.produk-detail-desc(id="pd-section")
      .container
        .row.justify-content-between
          .col-md-6
            .desc-left
              h3 Pesan produk ini melalui:
              .ecommerce-list
                a.ecommerce-item(href="#" target="_blannk")
                  img(src="images/ecommerce-logo-1.svg", alt="ecommerce-logo")
                a.ecommerce-item(href="#" target="_blannk")
                  img(src="images/ecommerce-logo-2.svg", alt="ecommerce-logo")
                a.ecommerce-item(href="#" target="_blannk")
                  img(src="images/ecommerce-logo-3.svg", alt="ecommerce-logo")
                a.ecommerce-item(href="#" target="_blannk")
                  img(src="images/ecommerce-logo-4.svg", alt="ecommerce-logo")

          .col-md-6
            .desc-right
              span.or atau
              h3 Isi form request quotation ini:
              form.quotation-form(action="#")
                .form-group
                  label Nama
                  input.form-control(type="text" placeholder="Isi nama Anda di sini")
                .form-group
                  label Nama perusahaan
                  input.form-control(type="text" placeholder="Isi nama perusahaan di sini")
                .form-group
                  label Alamat email
                  input.form-control(type="email" placeholder="Isi alamat email di sini")
                .form-group
                  label Nomor HP
                  input.form-control(type="text" placeholder="Nomor HP")
                  small.notes Diusahakan terhubung dengan WhatsApp
                .row.mb-4
                  .col-lg-9
                    .form-group
                      label Produk
                      input.form-control(type="text" value="NTN Deep Groove Ball Bearing 6000 Series (Laher)" disabled)
                  .col-lg-3
                    .form-group.pcs
                      label Qty
                      input.form-control(type="text" placeholder="Qty" value="1")
                .form-group
                  label Pesan
                  textarea.form-control(placeholder="Tulis pesan terkait kebutuhan produk" rows="5")
                .form-action
                  button.btn.btn-primary.btn-block(type="submit") Kirim request

    section.section.xl.home-someproduct
      .container
        .section-title
          .row
            .col-lg-6
              h2 Produk terkait
        .someproduct-wrap
          .row
            each item in product
              .col-lg-3.col-md-6
                +productCard(item)
