
section.section.section-cta
  .container
    .row.justify-content-center
      .col-lg-8
        .cta-title Langkah Pertama Menuju Solusi Terbaik
        a.cta-link(href="#")
          span Hubungi Kami untuk penawaran kerjasama
          img.icon(src="images/ic-arrow-right-long.svg", alt="icon")


