include cta.pug
footer.footer(id="footer")
  .container
    .footer-top
      .row
        .col-lg-4
          .h2.footer-tagline Memenuhi kebutuhan Anda dengan keahlian dan dedikasi.
        .col-lg-8
          .footer-right
            .row.justify-content-between
              .col-lg-7
                .footer-menu
                  .menu-group
                    b Produk
                    ul.col2
                      li
                        a(href="#") Part Mekanis
                      li
                        a(href="#") Kelistrikan
                      li
                        a(href="#") Komponen IT
                      li
                        a(href="#") Peralatan Rumah Tangga
                      li
                        a(href="#") Oli & Pelumas
                      li
                        a(href="#") Sekrup, Baut, Mur
                      li
                        a(href="#") Perkakas
                      li
                        a(href="#") Alat Tulis Kantor
                  .menu-group
                    b Perusahaan
                    ul.2col
                      li
                        a(href="#") Tentang Kami
                      li
                        a(href="#") Kontak Kami
                      li
                        a(href="#") KISHATARA
              .col-lg-5
                .footer-address
                  address Perumahan SBS, jl semeru utama blok A3 no.1. Bekasi utara. 17124
                  .contact-item
                    a(href="tel:+021 6828 8377") +021 6828 8377
                    small 08:00 - 18:00, Senin - Jumat
                  .contact-item
                    a(href="mailto:headoffice@dimaramasakti.co.id") headoffice@dimaramasakti.co.id
                    small Untuk informasi lebih lengkap
                  .footer-socmed
                    a(href="#" target="_blank")
                      img(src="images/ic-socmed-1.svg", alt="ic-socmed")
                    a(href="#" target="_blank")
                      img(src="images/ic-socmed-2.svg", alt="ic-socmed")
                    a(href="#" target="_blank")
                      img(src="images/ic-socmed-3.svg", alt="ic-socmed")
                    a(href="#" target="_blank")
                      img(src="images/ic-socmed-4.svg", alt="ic-socmed")
    .footer-bottom
      .left
        .footer-logo
          img(src="images/footer-logo-drs.png", alt="footerlogo")
        .cpyright ©Dima Rama Sakti, 2023. All Rights Reserved.
      .right
        a(href="#") Kebijakan Privasi
        a(href="#") Persyaratan dan Ketentuan





